= semantic_form_for [:admin, resource], :multipart => true, :namespace => 'news' do |f|
  -#= f.error_messages
  = f.inputs do
    = f.input :title
    = f.input :date
    = f.input :description

    -# TODO - helper di collegamento al media manager, per ogni campo
    -# che ho definito nel model che è "attaccatto" all'asset

  = f.actions
