= semantic_form_for @asset_category, multipart: true, builder: FormtasticBootstrap::FormBuilder, namespace: 'asset_category' do |f|
  .form-horizontal
    = f.inputs t('.translations') do
      = render 'asset_manager/partials/locales_tabs'
      .tab-content
        = f.semantic_fields_for :translations, @asset_category.translations do |ft|
          = render 'translated_fields', :f => ft
    = f.actions

