= content_for :page_title do
  = am_title t('.title')
= content_for :page_actions do
  = link_to(new_asset_category_path, class: 'btn') do
    %i.icon-plus-sign
    = t('.new_asset_category')

= render 'form'
