= semantic_form_for @post, multipart: true, namespace: 'post' do |f|
  -#= f.error_messages
  = f.inputs 'General' do
    = f.input :title
    = f.input :sub_title
  = f.inputs 'AM Associations' do
    = f.input :main_image, as: :asset_manager
    = f.input :pictures, as: :asset_manager
    = f.input :main_card, as: :asset_manager
    = f.input :downloads, as: :asset_manager
  = f.actions
