.page-header.clearfix
  %h1 Listing posts

- if @posts.empty?
  %p No items
- else
  %table.table.table-striped.table-bordered
    %tr
      %th Id
      %th Title
      %th Sub title
      %th{style: 'background-color: lightblue'} Main Image
      %th Actions

    - @posts.each do |post|
      %tr
        %td= post.id
        %td= post.title
        %td= post.sub_title
        %td= am_render(post, :main_image, version: :thumb)
        %td
          = link_to post do
            %i.icon-eye-open
          = link_to edit_post_path(post) do
            %i.icon-pencil
          = link_to post, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.icon-trash

= link_to 'New Post', new_post_path, class: 'btn btn-primary'
