%h1 Listing posts

%table
  %tr
    %th Title
    %th Sub title
    - Post.file_fields.each do |field|
      %th{style: 'background-color: lightblue'}= field
    - Post.files_fields.each do |field|
      %th{style: 'background-color: yellow'}= field
    %th{colspan: 3} Actions

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.sub_title
      - post.class.file_fields.each do |field|
        %td= post.send(field).id rescue ''
      - post.class.files_fields.each do |field|
        %td= post.send(field).map(&:id) rescue '[]'
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
