= semantic_form_for @asset, multipart: true, builder: FormtasticBootstrap::FormBuilder, namespace: 'asset', class: 'form-horizontal' do |f|
  = render partial: 'asset_manager/partials/form_errors', locals: { errors: f.object.errors }
  = f.input :public, as: :hidden
  .form-horizontal
    = f.inputs t('.translations'), class: 'translations', data: { count: I18n.available_locales.count } do
      = render 'asset_manager/partials/locales_tabs'
      .tab-content
        = f.semantic_fields_for :translations, @asset.translations do |ft|
          = render 'translated_fields', f: ft
    - if AssetManager.with_categories || AssetManager.with_tags
      = f.inputs t('.general'), class: 'general' do
        - if AssetManager.with_categories
          = f.input :asset_category, collection: AssetManager::AssetCategory.sorted
        - if AssetManager.with_tags
          = f.input :tag_list
    = f.inputs 'File/s', class: 'general' do
      #asset_instances
        - association_name = "asset_#{@asset.public ? 'public' : 'private'}_instances".to_sym
        = f.semantic_fields_for association_name do |asset_instance|
          = render 'asset_instance_fields', f: asset_instance
        - unless AssetManager::AssetInstance.instance_contexts_with_all.length == 1
          .links= link_to_add_association '(+) ' +  t('.add_asset_instance'), f, association_name, partial: 'asset_instance_fields'
    = f.actions

:javascript
  $(document).ready(function() {
    $('form').submit(function() {
      submit = true;

      // Check instance context
      ics = new Array();
      $('#asset_instances .nested-fields:visible').each(function() {
        ic = $(this).find('select').val();
        if ($.inArray(ic, ics) == -1) {
          ics.push(ic);
        } else {
          submit = false;
          alert('Non è possibile avere più files dello stesso contesto (' + ic + ')');
          return false;
        }
      });

      // Check files
      numFiles = 0;
      $('#asset_instances .nested-fields:visible').each(function() {
        file = $(this).find('input[type=file]').val();
        item = $(this).find('.item');
        if (file || item) {
          numFiles++;
        }
      });
      if (! numFiles) {
        submit = false;
        alert('Non è possibile procedere senza aver selezionato un file');
        return false;
      }

      if (! submit) {
        return false;
      }
    });
  });

