= content_for :page_title do
  = am_title t('.title_assets')
= content_for :page_actions do
  = render partial: 'new_actions'

= render partial: 'quick_upload'

.row-fluid
  .span10
    - if @assets.empty?
      = t('.no_results')
    - else
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('.id')
            %th= t('.asset_title')
            -#%th= t('.description')
            - if AssetManager.with_categories
              %th= t('.asset_category')
            - unless AssetManager.unique_asset_type?
              %th= t('.public')
            %th= t('.file_type')
            %th= t('.asset_instances')
            %th.actions= t('.actions')
        %tbody
          - @assets.each do |asset|
            %tr
              %td= asset.id
              %td= asset.title
              -#%td= asset.description
              - if AssetManager.with_categories
                %td= asset.asset_category.title rescue ''
              - unless AssetManager.unique_asset_type?
                %td= asset.public
              %td= asset.file_type
              %td= render partial: 'asset_manager/asset_instances/asset_instances', locals: { collection: asset.asset_instances, clippy: true }
              %td.actions
                %ul
                  %li= show_resource_link(asset)
                  %li= edit_resource_link(asset)
                  %li= delete_resource_link(asset)

      = render partial: 'asset_manager/partials/pagination_status', locals: { collection: @assets, total_records: @total_records }
      = paginate @assets, theme: 'bootstrap'
  .span2
    .well.filters
      .filters-title= t('labels.filters')
      = form_for @search, url: assets_path, html: { method: :get, style: 'margin-bottom: 0' } do |f|
        %div
          = f.label :translations_title_or_translations_description_cont, t('.title_or_description_contains')
          = f.text_field :translations_title_or_translations_description_cont
        - if AssetManager.with_categories
          %div
            = f.label :asset_category_id_eq, t('.asset_category_equal')
            = f.collection_select :asset_category_id_eq, AssetManager::AssetCategory.sorted, :id, :title, include_blank: true
        - unless AssetManager.unique_asset_type?
          %div
            = f.label :public_eq, t('.public_equal')
            = f.select :public_eq, [true, false], include_blank: true
        %div
          = f.label :file_type_eq, t('.file_type_equal')
          = f.select :file_type_eq, AssetManager::Asset.pluck(:file_type).uniq.compact, include_blank: true
        %div
          %button.btn{ type: 'submit', name: 'commit' }
            %i.icon-search
            = t('.search')
          = link_to t('.clear'), assets_path, class: 'btn btn-link'